@model Social_Media_Exchanger.ViewModels.DailyBonusViewModel

@{
    ViewBag.Title = "Daily Bonus";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h2 class="text-center">Daily Bonus</h2>
        </div> 
    </div>
    <div class="row text-center vert-offset-top-4">
            @if (Model.ClicksToday >0 && Model.DailyBonusTaken==false)
            {
                 <div class="col-sm-4 col-sm-offset-4">
                @Html.ActionLink("Daily Bonus", "TakeDailyBonus", "Account", new { @class = "btn btn-info daily-bonus", role = "button" })
                </div>
            }
            else if(Model.ClicksToday < 1)
            {
                <div class="jumbotron">
                    <h2>You currently have @Model.ClicksToday clicks. You need at least 1 clicks to take the bonus.</h2>
                </div>
            }
            else
            {
                <div class="jumbotron">
                    <h2>You already take the daily bonus. Please come back tomorrow.</h2>
                </div>
            }
        </div>
</div>

