
@{
    ViewBag.Title = "You receive 100 points";
}

<div class="jumbotron">
    <h2>You received 100 points. You can use this points to promote your social accounts. Thank you for using Social Exchanger</h2>
</div>
